.card {
  width: 100%;
  min-height: 7rem;
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem 0;
  box-shadow: 0 3px 5px black;
  box-sizing: border-box;
  color: black;
  border-radius: 1rem;
  overflow: hidden;
}

.card * {
  word-wrap: break-word;
}

.card button,
.card a.button {
  color: black;
  border-color: black;
}

.card button:hover,
.card a.button:hover {
  background-color: black;
  color: var(--color-white);
}

.card h1 {
  margin: 0.5rem 0;
}

.card-buttons {
  display: flex;
  flex-direction: horizontal;
}

.card-buttons button,
.card-buttons a.button {
  margin: 0 0.25rem;
  border-radius: 0;
  flex: 1;
}

.card-buttons button:first-child,
.card-buttons a.button:first-child {
  margin-left: 0;
  border-radius: 0 0 0 1rem;
}

.card-buttons button:last-child,
.card-buttons a.button:last-child {
  margin-right: 0;
  border-radius: 0 0 1rem 0;
}
